/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic);

body {
  background: #313131;
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

/* -- Bootstrap Override -- */

a {
    color: #f7941d;
    text-decoration: none;
}
a:focus, a:hover {
    color: #6d400d;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #f7941d;
  border-color: #f7941d;
  color: #fff;
  cursor: default;
  z-index: 2;
}

.pagination > li > a, .pagination > li > span {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #f7941d;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  background-color: #eee;
  border-color: #ddd;
  color: #6d400d;
  z-index: 3;
}

/* -------------- */

#navbar {
  margin-bottom: 0;
}

.navbar-default {
    background-color: transparent;
    border-color: none;
    border: 0;
}

#navbar .container {
  /* background: url('../images/header-bg.jpg') no-repeat center top; */
  /* background-size: cover; */
  border-bottom: 2px solid #f7941d;
  background-color: #000000;
}

#site-slogan {
    background: rgba(255,255,255,0.4);
    background-image: url('../images/header-bg.jpg') no-repeat center top;
    color: #000000;
    text-align: center;
    font-family: 'Roboto';
    text-transform: uppercase;
}

div.main-container .container {
  background: #efefef;
}

.not-front .main-container .container > .row {
  margin-top: 20px;
}

h1.page-header {
  display: none;
}

.footer {
    border-top: none;
    margin-top: 0;
    padding:0;
}

footer .container,
.footer .container {
  border-top: 2px solid #f7941d;
  background: url(../images/footer-pattern.jpg) repeat-x;
  margin-top: 0;
  color: #ffffff;
}

.footer .block.footer-info {
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
}

#block-locale-language {

}

#block-locale-language ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#block-locale-language ul li {
  display: inline-block;
  list-style: none;
}

#block-locale-language ul li a {
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 5px;
}

#block-locale-language ul li a:hover {
  text-decoration: none;
}

#block-locale-language ul li.active a {
  color: #f7941d;
  background: #ffffff;
}

.front #block-system-main {
  margin-left: -15px;
  margin-right: -15px;
}

.front h1.page-header {
  display: none;
}

#hp-top {
  position: relative;
}

#hp-top .overlay-bg {
  position: absolute;
  top: 0;
  width: 100%;
}

#hp-top .overlay-popup {
  position: absolute;
  top: 0;
  opacity: 0;
}

#hp-top .overlay-popup.popup-hidden {
  display: none;
}

#hp-top .overlay-popup.popup-visible {
  background: rgba(0,0,0,0.8);
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out; /* future, future, please come sooner! */
}

#hp-top .overlay-popup#about {
  left: 0;
}

#hp-top .overlay-popup#history {
  right: 0;
}

#hp-middle {
  background: #555555;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#hp-middle span.show-popup {
  text-align: center;
  display: block;
  background: #eeeeee;
  text-transform: uppercase;
}

#hp-middle span.show-popup:hover {
  cursor: pointer;
}

#hp-middle span.show-popup.btn-active {
  background: #f7941d;
  color: #eeeeee;
}

#hp-bottom {
  background: #cccccc;
  clear: both;
  text-align: center;
  padding: 10px;
}

/* -- Products page -- */

.block.catalog-menu {
}

.block.catalog-menu ul {
  padding: 0;
}

.block.catalog-menu ul li {

}

.block.catalog-menu ul li a.facetapi-inactive {
  font-family: "Roboto";
  color: #ffffff;
  background: #bbbbbb;
  display: block;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.block.catalog-menu ul li a.facetapi-inactive:hover {
  text-decoration: none;
  background: #f7941d;
}

.block.catalog-menu ul li.active {
  font-family: "Roboto";
  color: #ffffff;
  background: #f7941d;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.block.catalog-menu ul li.active a {
  color: #ffffff;
}

.block.catalog-menu ul li.active a:hover {

}

/* -- Custom Sections -- */

/* -- Media & Download page -- */

.banner {
  margin-bottom: 15px;
}

/* -- Contacts page -- */

.page-contacts .row.row-1,
.page-contacts .row.row-2 {
  margin-bottom: 20px;
}

.page-contacts .address {
  text-align: center;
  margin-bottom: 20px;
  background: #ffffff;
  padding: 10px;
}

.page-contacts .box {
  text-transform: uppercase;
  background: #ffffff;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin: 10px 0 20px 0;
}
.page-contacts .box:after {
}



.google-maps-embedded {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  border: 5px solid #ffffff;
}
.google-maps-embedded iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* -- Views --*/

/* -- Views Products -- */

.view.product-catalogue {

}

.view.product-catalogue .views-field-nothing {
  margin-bottom: 20px;
}

.view.product-catalogue .views-field-nothing .product-item {
  position: relative;
  border: 3px solid #f7941d;
  border-radius: 13px;
  background-color: #f7941d;
}

.view.product-catalogue .views-field-nothing .product-item .product-image {

}

.view.product-catalogue .views-field-nothing .product-item .product-image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.view.product-catalogue .views-field-nothing .product-item .product-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.view.product-catalogue .views-field-nothing .product-item .product-title a {
  background: #f7941d;
  color: #ffffff;
  font-weight: bold;
  display: block;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.view.product-catalogue .views-field-nothing .product-item .product-title a:hover {
  text-decoration: none;
}


/* -- Views News -- */

.view.view-news .view-content .views-row {
  margin-bottom: 20px;
}

.view.view-news .view-content .views-field-title h2 {
  font-family: "Roboto", Serif;
  margin-top: 0;
  color: #f7941d;
}

.view.view-news .view-content .views-field-title h2 a {
  color: #f7941d;
  text-transform: uppercase;
}

.view.view-news .view-content .views-field-created {
  font-family: "Roboto", Serif;
}

.view.view-news .attachment .view-content .views-field-title h2 {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  left: 15px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 0;
  padding: 10px 0;
  color: #ffffff;
}

.view.view-news .attachment .view-content .views-field-title h2 a {
  color: #ffffff;
}
.view.view-news .attachment .views-field-nothing {
  margin-top: 10px;
}


/* -- Views Gallery -- */

.view.view-gallery .view-content .views-row {
  margin: 20px 0 0 0;
}

.view.view-gallery .view-content .views-row a img:hover{
  opacity: 0.7;
}

.view.view-gallery .view-content {
  margin-top: 20px;
}

.view.view-gallery .view-content .row {
  margin-bottom: 20px;
}

.view.view-gallery .view-content .row img {
  display: block;
  height: auto;
  max-width: 100%;
}

.view.view-gallery .view-content .row img {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  height: auto;
  line-height: 1.42857;
  max-width: 100%;
  padding: 4px;
  transition: all 0.2s ease-in-out 0s;
}

.view.view-gallery .view-content .row a img:hover{
  opacity: 0.7;
}

.bootstrap-gallery .btn-primary  {
  background-color: #f7941d;
  border-color: #e08318;
}

.bootstrap-gallery .btn-primary:hover  {
  background-color: #e08318;
  border-color: #e08318;
}

/* -- Nodes -- */

.modal .node-news .field-name-field-news-image img {
  width: 100%;
  margin-bottom: 15px;
}

/* -- Custom styles vith media queries -- */

@media screen and (max-width: 768px) {
  .navbar-header a img {
    width: 100px;
    height: auto;
  }

  .navbar-collapse {
    background: #aaaaaa;
  }

  #hp-middle span.show-popup:first-child {
  border-bottom: 1px solid #dddddd;
  }


  /* -- Views --*/

  /* -- Views Products -- */

  .view.product-catalogue .views-field-nothing .product-item .product-image img {
    width: 100%;
  }

  /* -- Views News -- */

  .view.view-news .view-content .views-field-field-news-image {
    margin-bottom: 10px;
  }

  /* -- Views Gallery -- */

  .view.view-gallery .view-content .row .views-field-field-image {
    margin-bottom: 10px;
  }

  .view.view-gallery .view-content .row img {
    width: 100%;
  }
}


@media screen and (min-width: 768px) {

  #navbar .container {
    position: relative;
  }

  #navbar .container div.navbar-header {
    float: none;
    width: 134px;
    margin: 20px 10px;
    position: relative;
    z-index: 100;
  }

  div.navbar-header a.logo {
    margin: 0;
    padding: 0;
  }

  #site-slogan .lead {
    padding: 5px 0;
    font-size: 16px;
  }

  ul.menu.navbar-nav {
    position: absolute;
    top: 30px;
    left: 60px;
  }

  ul.menu.navbar-nav li {
    margin: 0 5px;
  }

  ul.menu.navbar-nav li a {
    background: rgba(255,255,255, 0.8);
    color: #000000;
    font-family: 'Roboto';
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 115px;
    border-radius: 10px;
  }

  ul.menu.navbar-nav li.active a {
    background: #222222;
    color: #ffffff;
    border-radius: 10px;
  }

  ul.menu.navbar-nav li a:hover {
    color: #000000;
    background: #ffffff;
    border-radius: 10px;
  }

  li#menu-catalog {
    margin-left: 0;
  }

  li#menu-catalog a {

  }

  li#menu-home {

  }

  li#menu-home a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  li#menu-media {

  }

  li#menu-media a {

  }

  li#menu-contacts {

  }

  li#menu-contacts a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  li#menu-about {

  }

  li#menu-about a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #block-locale-language {
    position: absolute;
    bottom: 5px;
    right: 15px;
  }

  /* HP overlays */

  #hp-top {
    height: 281px;
  }

  #hp-top .overlay-popup {
    height: 281px;
  }

  #hp-top .overlay-popup#about {

  }

  #hp-top .overlay-popup#history {

  }

  #hp-middle {
    height: 20px;
  }

  #hp-middle span.show-popup {
    height: 20px;
    line-height: 20px;
  }

  #hp-bottom {
    text-align:center;
    padding: 20px;
  }


  /* media & download page */

  .banner a span.text {
    display: block;
    position: absolute;
    left: 30px;
    top: 0;
    text-decoration: none;
    color: #ffffff;
    width: 108px;
    height: 100px;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .banner a:hover span.text {
    color: #ffffff;
    text-decoration: none;
  }

  .banner a:hover img {
    opacity: 0.8;
  }

  /* contacts page */
  .page-contacts .row.row-1,
  .page-contacts .row.row-2 {
    margin-bottom: 40px;
  }

  .page-contacts .address {
    text-align: center;
    width: 80%;
    padding: 20px;
  }

  .page-contacts .box::after {
    border-bottom: 25px solid transparent;
    border-left: 20px solid #ffffff;
    border-top: 25px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    right: -20px;
    top: 25px;
    width: 0;
  }
  .page-contacts .box {
    background: #ffffff none repeat scroll 0 0;
    font-weight: bold;
    padding: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
  }
}
/* \\ @media screen and (min-width: 768px) */
@media screen and (min-width: 992px) {

  ul.menu.navbar-nav {
    position: absolute;
    top: 30px;
    left: 175px;
  }

  ul.menu.navbar-nav li {
    margin: 0 10px;
  }

  ul.menu.navbar-nav li a {
    width: 130px;
  }

  li#menu-catalog {

  }

  li#menu-catalog a {

  }

  li#menu-home {

  }

  li#menu-home a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  li#menu-media {

  }

  li#menu-media a {

  }

  li#menu-contacts {

  }

  li#menu-contacts a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  li#menu-about {

  }

  li#menu-about a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #hp-carousel .item img {
  min-width: 970px;
  }

  /* HP overlays */

  #hp-top {
    height: 364px;
  }

  #hp-top .overlay-popup {
  }

  #hp-top .overlay-popup#about {

  }

  #hp-top .overlay-popup#history {

  }

  #hp-middle {
    height: 25px;
  }

  #hp-middle span.show-popup {
    height: 25px;
    line-height: 25px;
  }

  #hp-bottom {
    padding: 30px;
    text-align: center;
  }

  /* media & download page */

  .banner a span.text {
    width: 128px;
    height: 130px;
    line-height: 126px;
    font-size: 16px;
  }

  /* contacts page */
  .page-contacts .row.row-1,
  .page-contacts .row.row-2 {
    margin-bottom: 40px;
  }

  .page-contacts .address {
    text-align: center;
  }

  .page-contacts .box::after {
    border-bottom: 25px solid transparent;
    border-left: 20px solid #ffffff;
    border-top: 25px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    right: -20px;
    top: 25px;
    width: 0;
  }
  .page-contacts .box {
    background: #ffffff none repeat scroll 0 0;
    font-weight: bold;
    padding: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
  }
}
/* \\ @media screen and (min-width: 992px) */

@media screen and (min-width: 1200px) {

  ul.menu.navbar-nav {
    position: absolute;
    top: 30px;
    left: 227px;
  }

  li#menu-catalog {

  }

  li#menu-catalog a {

  }

  li#menu-home {

  }

  li#menu-home a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  li#menu-media {

  }

  li#menu-media a {

  }

  li#menu-contacts {

  }

  li#menu-contacts a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  li#menu-about {

  }

  li#menu-about a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #hp-carousel .item img {
  min-width: 1170px;
  }

  /* HP overlays */

  #hp-top {
    height: 438px;
  }

  #hp-top .overlay-popup {
  }

  #hp-top .overlay-popup#about {

  }

  #hp-top .overlay-popup#history {

  }

  #hp-middle {
    height: 30px;
  }

  #hp-middle span.show-popup {
    height: 30px;
    line-height: 30px;
  }

  #hp-bottom {
    padding: 40px;
    text-align: center;
  }

  /* media & download page */

  .banner a span.text {
    width: 128px;
    height: 143px;
    line-height: 141px;
    font-size: 18px;
  }

  /* contacts page */
  .page-contacts .row.row-1,
  .page-contacts .row.row-2 {
    margin-bottom: 40px;
  }

  .page-contacts .address {
    text-align: center;
  }

  .page-contacts .box::after {
    border-bottom: 25px solid transparent;
    border-left: 20px solid #ffffff;
    border-top: 25px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    right: -20px;
    top: 15px;
    width: 0;
  }
  .page-contacts .box {
    background: #ffffff none repeat scroll 0 0;
    font-weight: bold;
    padding: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
  }
}
/* \\ @media screen and (min-width: 1200px) */


/* Maintenance */

.maintenance-page {}

.maintenance-page div#logo-title { text-align: center; }

.maintenance-page #content { color: #ffffff; }
